# Created by https://www.gitignore.io/api/psoccreator

### PSoCCreator ###
# Project Settings
*.cywrk.*
*.cyprj.*
*.cydsn/*.cyprj.*

# Generated Assets and Resources
Debug/
Backup/
Docs/
Release/
Export/
*/codegentemp
*/Generated_Source
*_datasheet.pdf
*_timing.html
*.cycdx
*.cyfit
*.rpt
*.svd
*.log
.*DS_Store
FinalProject.cywrk.mauro
*.mauro
*.Beatrice
*.david

beyaenv/
*.asv
venv/
.vscode/
GUI/mesher.py
GUI/scan_reconstruction.py
GUI/instructions.txt
coordinates/coordinates_bowl.txt
coordinates/coordinates_bowl.xyz
