# Created by https://www.gitignore.io/api/psoccreator

### PSoCCreator ###
# Project Settings
*.cywrk.*
*.cyprj.*
*.cydsn/*.cyprj.*

# Generated Assets and Resources
Debug/
Backup/
Docs/
Release/
Export/
*/codegentemp
*/Generated_Source
*_datasheet.pdf
*_timing.html
*.cycdx
*.cyfit
*.rpt
*.svd
*.log
.*DS_Store
*FinalProject.cywrk.mauro
*.Beatrice
*.david

# End of https://www.gitignore.io/api/psoccreator
